html(ng-app='ngCzCourseWare')
  head
    //- scripts attached in devel mode
    if devel
      script(src='http://localhost:' + config.lifeReloadPort + '/livereload.js')

    //- vendor scripts
    script(src='/node_modules/angular/angular.min.js')
    script(src='/node_modules/angular-socket-io/socket.min.js')
    script(src='/node_modules/angular-ui-router/release/angular-ui-router.min.js')

    //- courseware app
    script(src='/app/app.js')
    script(src='/app/controllers.js')
    script(src='/app/directives.js')
    script(src='/app/todo-loader.js')
    script(src='/app/test-results/test-results.js')
    script(src='/app/test-results/test-results-parser.js')
    script(src='/app/test-results/test-results-directive.js')

    //- passing list of exercises to the angular value
    script
      | angular.module('ngCzCourseWare')
      | .value('todos', !{JSON.stringify(config.todos).replace(/<\//g, "<\\/")});

    //- activate socket listening if socket is configured
    if config.testsSocketUrl
      script(src= config.testsSocketUrl + '/socket.io/socket.io.js')
      script.
        //- if the io is loaded from socket server, then attache url to socketConnectorProvider
        if (typeof io !== 'undefined') {
          angular.module('ngCzCourseWare')
            .config(function(socketConnectorProvider) {
              socketConnectorProvider.setUrl('!{config.testsSocketUrl}');
            });
          console.log('Socket server is runnning: !{config.testsSocketUrl}');

          //- when socket server not running
        } else {
          console.log('Socket server is not runnning: !{config.testsSocketUrl}');
        }

    link(href="/dist/todo.css", rel="stylesheet")

    //- include header from config to title
    title !{config.header}

body#top
  //- include header from config to main header
  nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        a.navbar-brand(href='#') !{config.header}

  div.row(ui-view="")

  //- create angular template for each of given exercises and load it from particular file
  each todoName in config.todos
    script(type='text/ng-template' id='todo-#{todoName}')
      div
        != render(baseDir + '/' + todoName + '/' + config.todoFilePath)

  //- create template for homepage info template
  script(type='text/ng-template' id='intro')
    != render(config.introFilePath)

  // angular templates for controllers and directives
  script(type='text/ng-template' id='todos')
    include todos

  script(type='text/ng-template' id='todo')
    include todo

  script(type='text/ng-template' id='directive-pagination')
    include directives/pagination

  script(type='text/ng-template' id='directive-hint')
    include directives/hint

  script(type='text/ng-template' id='directive-solution')
    include directives/solution

  script(type='text/ng-template' id='directive-tests')
    include directives/tests

  script(type='text/ng-template' id='directive-tests-results')
    include directives/tests-results

  script(type='text/ng-template' id='directive-snippet')
    include directives/snippet

  //- footer
  div.footer
    hr
    p
      | Created with&nbsp;
      a(href="https://github.com/Angular-cz/courseware", target="_blank") angular.cz CourseWare
      | .
