
.bs-callout(@color) {
  border-left: 5px solid @color;

  h1, h2, h3, h4, h5, h6 {
    color: @color;
  }
}

.tests {
  display: block;
  margin: 20px 0;
  padding: 10px;

  border: 1px solid #eee;
  border-radius: 5px;

  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
  }

  &.passed {
    .bs-callout(@brand-success);
  }
  &.failed {
    .bs-callout(@brand-danger);
  }

  .passed, &.passed {
    color: @brand-success;
    >.icon, h4 .icon{
      .glyphicon;
      .glyphicon-ok;
      top:3px;
    }
    >.icon {
      top:2px;
    }
  }

  .failed, &.failed {
    color: @brand-danger;
    >.icon, h4 .icon {
      .glyphicon;
      .glyphicon-remove;
      top:3px;
    }
    >.icon {
      top:2px;
    }
  }

  ul {
    list-style-type: none;
    padding-left: 15px;
    margin-bottom: 3px;
  }
}

